@charset "UTF-8" ;


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
section{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    position: absolute;
    left: 50%;
    top: 50%;
    transition: width 0.9s, height 0.9s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
div#imagem{
    background-image: url(../imagens/pexels-essow-k-251295-2373419.jpg);
    height: 160px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
div#login{
    display: block;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    margin: 10px;
}
p{
    text-align: left;
    margin: 12px;
}
label{
    background-color: #5f2c82;
    height: 45px;
    margin: 10px;
    display: block;
    text-align: left;
    position: relative;
    border-radius: 10px;
    width: 280px;
}
span{
    color: white;
    padding: 5px;
    position: absolute;
    font-variation-settings: 'FILL' 1;
    transform: translate(0%, 14%);
}
input.dados {
    background-color: #6ffffa;
    height: 33px;
    width: 240px;
    display: inline;
    position: absolute;
    border-radius: 8px;
    border: 0px;
     transform: translate(-44.5%, -149%);
}
input.dados:focus-within{
    background-color: white;
}
input{
    display: block;
    margin: auto;
}
input#entrar{
    display: block;
    background-color: #49a09d;
    color: white;
    width: 85%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
input#entrar:hover{
    background-color: #408c89;
}

a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    background-color: white;
    color: #49a09d;
    width: 85%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: auto;
    border: 1px solid #49a09d;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
a.botao:hover{
    background-color: #c1fffd;
}
span#mail{
    color: #49a09d;   
    font-size: 1.2em;
    transform: translate(0%, -15%);
}